html * {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    margin: 5px;
}

.container {
    position: relative;
    display: block;
    padding: 5px;
    margin: 5px;
    background: #eee;
    border: 1px solid hsla(240,50%,50%, 0.2);
    border-radius: 5px;
}

input[type="range"] {
    width: 250px;
}

label::after {
    content: ': ';
}

.progress-background {
    color: white;
    background-color: black;
    background-image: url('../img/blue-progress-transition-left-to-right.png');
    background-repeat: no-repeat;
}